@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

#admin-schedule-container {
	width: 1200px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contents-box {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
	
}

.category-info {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #f8f9fa;
	padding: 20px;
	border-radius: 10px;
	font-size: 14px;
}
.category-info>h4 {margin-bottom: 10px;}
.category-info>p{margin-bottom: 10px; padding-left: 20px;}

.contents-box>form>table {
	border-collapse: collapse;
	width: 900px;
	margin-bottom: 15px;
	font-size: 14px;
}
th, td {padding: 5px;}

.contents-box>table, th, tr, td {
	border: 1px solid black;
}

.paging-btn {
	text-align: center;
	margin-top: 25px;
}

.paging-btn>ul>li {display: inline;}

.paging-btn>ul>li>a {
	display: inline-block;
	font-size: 14px;
	padding: 5px 14px;
	color: white;
	background-color: black;
}

.year2021, .year2022{
	display: none;
	margin-top: 15px; 
	margin-bottom: 15px;
}

.year2021>a, .year2022>a {
	font-size: 17px;
	display: inline-block;
	padding-right: 10px;
	color:black;
}

.year2021>a:hover, .year2022>a:hover{
	color:red;
}

.game-title {color: #cc6600}
.game-title:hover{color: red;}

.year-div {text-align: center;}
.year-div>a{color: black; font-weight: bold; font-size: 18px;}
.year-div>a:hover{color: red;}

.add-btn {
	width: 100px;
	height: 25px;
	background-color: black;
	color: white;
}
.delete-btn {
	width: 80px;
	height: 25px;
	background-color: black;
	color: white;
	margin-right: 20px;
}

.add-btn:hover{cursor: pointer;}
.delete-btn:hover{cursor: pointer;}