@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

#ticketingCheck-container {
	margin: 0 auto;
	width: 1200px;
}

#ticketing-title {
	width: 100%;
	line-height: 80px;
	text-align: center;
	font-size: 20px;
}

#ticketing-step {
	width: 100%;
	line-height: 50px;
	text-align: center;
	font-weight: 900;
	color: gray;
}

#ticketing-step>span {
	margin: 50px;
	padding: 5px 30px;
	font-size: 20px;
	font-weight: 400;
	border-radius: 10px;
	background-color: #eee;
}

#ticketing-step>span.active {
	background-color: rgb(241, 44, 18);
	color: white;
}

.divTitle {
	font-size: 20px;
	font-weight: bolder;
}

.reservation-div {
	margin: auto;
	width: 800px;
}

.reservation-table {
	width: 100%;
	margin-top: 10px;
	background-color: whitesmoke;
	border-radius: 5px;
}

.reservation-table {
	padding-bottom: 15px;
}

#ticketingCheck-reservation {
	width: 100%;
	padding: 50px 0;
}

.reservation-table td {
	padding: 20px;
	text-align: center;
}

.reservation-table td>span {
	font-size: 15px;
	font-weight: 600;
	color: #444;
}

.modal-myPickList {
	margin: 10px auto;
	margin-bottom: 25px;
	width: 85%;
	height: 100px;
	background-color: white;
	overflow-y: scroll;
	border-radius: 10px;
}

.modal-myPickList>p {
	font-size: 15px;
	margin: 10px;
}

.nextStep {
	display: block;
	margin: auto;
	margin-bottom: 50px;
	width: 200px;
	line-height: 35px;
	border: none;
	text-align: center;
	font-weight: bolder;
	border-radius: 5px;
	background-color: rgb(241, 44, 18);
	color: white;
}

.nextStep:active {
	opacity: .3;
}